apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: my-app2
  name: my-app2
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-app2
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: my-app2
        version: v3
    spec:
      containers:
      - image: public.ecr.aws/docker/library/nginx:mainline
        name: nginx
        ports:
          - containerPort: 80
            name: http
        resources: {}
status: {}
